.form {
  padding-top: 1em;
  display: grid;
  position: relative;
  grid-row-gap: 1em;
  justify-content: space-around;
  overflow: scroll;
  height: 75vh;
  max-height: 75vh;
}
.input-group {
  display: flex;
  width: 100%;
  height: min-content;
  justify-content: space-between;
}
.input-group input, select{
  flex-basis: 50%;
  font-size: 1rem;
  text-align: center;
  padding: 0;
  width: 50vw;
  height: 3em;
  min-height: 3em;
}

.is-invalid {
  color: red;
}

.form button {
  height: 4em;
  width: 7em;
}

.form span {
  position: fixed;
  display: grid;
  grid-row-gap: 1em;
}

.input-group label {
  flex-basis: 50%;
  align-self: end;
  border-bottom: 1px dotted black;
  padding-bottom: 1px;
  font-size: 1.25em;
}
