.Navbar {
  background-color: grey;
  height: 10em;
  padding: 0 2em;
  font-size: 1.15rem;
}
.Navbar span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 100%;
}
.Navbar p{
  margin: 0;
}
