
.pollContainer {
  display: grid;
  text-align: center;
  grid-gap: 4rem;
}

.pollContainer * {
  margin: 0;
}

.pollOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1rem;
}

.pollContainer button {
  height: 3rem;
  width: 15rem;
}
